[submodule "dependencies/CPP_Utils"]
	path = dependencies/CPP_Utils
	url = https://github.com/Julianiolo/CPP_Utils.git
[submodule "dependencies/simavr"]
	path = dependencies/simavr
	url = https://github.com/buserror/simavr.git
