[submodule "dependencies/CPP_Utils"]
	path = dependencies/CPP_Utils
	url = https://github.com/Julianiolo/CPP_Utils.git
[submodule "dependencies/simavr"]
	path = dependencies/simavr
	url = https://github.com/buserror/simavr.git
[submodule "dependencies/ATmega32u4_Emulator"]
	path = dependencies/ATmega32u4_Emulator
	url = https://github.com/Julianiolo/ATmega32u4_Emulator.git
